<ion-content class="fixed-header">
  <ion-header>
    <ion-toolbar>
      <ion-title>
        Thực đơn - {{ moment().format('DD/MM/YYYY') }}
        <ion-input clearInput placeholder="Tìm kiếm ..." (keyup)='updateFilter()' [(ngModel)]="searchBox" class="top-search"></ion-input>
      </ion-title>
    </ion-toolbar>
  </ion-header>
  <ion-grid class="ccmart">
    <ion-row *ngFor="let product of products" class="product-list">
      <ion-col>
        <img [src]="getProductImage(product)" alt="{{product.NAME}}">
      </ion-col>
      <ion-col>
        <h6>{{product.NAME}}</h6>
        <p>({{ product.SKU }})</p>
      </ion-col>
      <ion-col>
        <h6>{{product.TYPE}}</h6>
      </ion-col>
      <ion-col>
        <div class="input-group">
          <input type="number" class="form-control price" placeholder="{{product.PRICE_ORIGIN | number }} VNĐ"
            [(ngModel)]="product.GIA_THEO_NGAY">
        </div>
      </ion-col>
      <ion-col>
        <div class="input-group">
          <input type="number" class="form-control" placeholder="0" [(ngModel)]="product.SL_THEO_NGAY">
        </div>
      </ion-col>
      <ion-col>
        <button type="button" class="btn btn-primary btn-sm" (click)="addThucDon(product)"
          [disabled]="(!product.SL_THEO_NGAY || product.SL_THEO_NGAY === 0) || (product.PRICE_ORIGIN === 0 && !product.GIA_THEO_NGAY)">{{ getButtonState(product) }}</button>
      </ion-col>
    </ion-row>
  </ion-grid>
</ion-content>
<ion-button color="danger" class="font-weight-bold" (click)="hoanThanhThucDon()" *ngIf="thucDon?.length > 0">HOÀN THÀNH</ion-button>